# Audit Data
 Donated on 7/13/2018

## Dataset Information
 The goal of the research is to help the auditors by building a classification model that can predict the fraudulent firm on the basis the present and historical risk factors. The information about the sectors and the counts of firms are listed respectively as Irrigation (114), Public Health (77), Buildings and Roads (82), Forest (70), Corporate (47), Animal Husbandry (95), Communication (1), Electrical (4), Land (5), Science and Technology (3), Tourism (1), Fisheries (41), Industries (37), Agriculture (200).

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
from pylab import rcParams
sns.set_style("darkgrid")
import warnings
warnings.filterwarnings("ignore")

## Data Pre-processing

In [2]:
df_audit_risk= pd.read_csv('audit_risk.csv')
df_audit_risk.head()

,Sector_score,LOCATION_ID,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,numbers,...,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk,Risk
0,3.89,23,4.18,0.6,2.508,2.50,0.2,0.500,6.68,5.0,...,0.4,0,0.2,0.0,2.4,8.574,0.4,0.5,1.7148,1
1,3.89,6,0.00,0.2,0.000,4.83,0.2,0.966,4.83,5.0,...,0.4,0,0.2,0.0,2.0,2.554,0.4,0.5,0.5108,0
2,3.89,6,0.51,0.2,0.102,0.23,0.2,0.046,0.74,5.0,...,0.4,0,0.2,0.0,2.0,1.548,0.4,0.5,0.3096,0
3,3.89,6,0.00,0.2,0.000,10.80,0.6,6.480,10.80,6.0,...,0.4,0,0.2,0.0,4.4,17.530,0.4,0.5,3.5060,1
4,3.89,6,0.00,0.2,0.000,0.08,0.2,0.016,0.08,5.0,...,0.4,0,0.2,0.0,2.0,1.416,0.4,0.5,0.2832,0

In [5]:
df_audit_risk.shape

(776, 27)

In [13]:
df_audit_risk.describe().T

,count,mean,std,min,25%,50%,75%,max
Sector_score,776.0,20.184536,24.319017,1.85,2.3700,3.8900,55.5700,59.8500
PARA_A,776.0,2.450194,5.678870,0.00,0.2100,0.8750,2.4800,85.0000
Score_A,776.0,0.351289,0.174055,0.20,0.2000,0.2000,0.6000,0.6000
Risk_A,776.0,1.351029,3.440447,0.00,0.0420,0.1750,1.4880,51.0000
PARA_B,776.0,10.799988,50.083624,0.00,0.0000,0.4050,4.1600,1264.6300
Score_B,776.0,0.313144,0.169804,0.20,0.2000,0.2000,0.4000,0.6000
Risk_B,776.0,6.334008,30.072845,0.00,0.0000,0.0810,1.8405,758.7780
TOTAL,776.0,13.218481,51.312829,0.00,0.5375,1.3700,7.7075,1268.9100
numbers,776.0,5.067655,0.264449,5.00,5.0000,5.0000,5.0000,9.0000
Score_B.1,776.0,0.223711,0.080352,0.20,0.2000,0.2000,0.2000,0.6000
Risk_C,776.0,1.152964,0.537417,1.00,1.0000,1.0000,1.0000,5.4000
Money_Value,775.0,14.137631,66.606519,0.00,0.0000,0.0900,5.5950,935.0300
Score_MV,776.0,0.290979,0.159745,0.20,0.2000,0.2000,0.4000,0.6000
Risk_D,776.0,8.265434,39.970849,0.00,0.0000,0.0180,2.2350,561.0180
District_Loss,776.0,2.505155,1.228678,2.00,2.0000,2.0000,2.0000,6.0000
PROB,776.0,0.206186,0.037508,0.20,0.2000,0.2000,0.2000,0.6000
RiSk_E,776.0,0.519072,0.290312,0.40,0.4000,0.4000,0.4000,2.4000
History,776.0,0.104381,0.531031,0.00,0.0000,0.0000,0.0000,9.0000
Prob,776.0,0.216753,0.067987,0.20,0.2000,0.2000,0.2000,0.6000
Risk_F,776.0,0.053608,0.305835,0.00,0.0000,0.0000,0.0000,5.4000
Score,776.0,2.702577,0.858923,2.00,2.0000,2.4000,3.2500,5.2000
Inherent_Risk,776.0,17.680612,54.740244,1.40,1.5835,2.2140,10.6635,801.2620
CONTROL_RISK,776.0,0.572680,0.444581,0.40,0.4000,0.4000,0.4000,5.8000
Detection_Risk,776.0,0.500000,0.000000,0.50,0.5000,0.5000,0.5000,0.5000
Audit_Risk,776.0,7.168158,38.667494,0.28,0.3167,0.5556,3.2499,961.5144
Risk,776.0,0.393041,0.488741,0.00,0.0000,0.0000,1.0000,1.0000

In [6]:
df_audit_risk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 776 entries, 0 to 775
Data columns (total 27 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sector_score    776 non-null    float64
 1   LOCATION_ID     776 non-null    object
 2   PARA_A          776 non-null    float64
 3   Score_A         776 non-null    float64
 4   Risk_A          776 non-null    float64
 5   PARA_B          776 non-null    float64
 6   Score_B         776 non-null    float64
 7   Risk_B          776 non-null    float64
 8   TOTAL           776 non-null    float64
 9   numbers         776 non-null    float64
 10  Score_B.1       776 non-null    float64
 11  Risk_C          776 non-null    float64
 12  Money_Value     775 non-null    float64
 13  Score_MV        776 non-null    float64
 14  Risk_D          776 non-null    float64
 15  District_Loss   776 non-null    int64
 16  PROB            776 non-null    float64
 17  RiSk_E          776 non-null    float64
 18  History         776 non-null    int64
 19  Prob            776 non-null    float64
 20  Risk_F          776 non-null    float64
 21  Score           776 non-null    float64
 22  Inherent_Risk   776 non-null    float64
 23  CONTROL_RISK    776 non-null    float64
 24  Detection_Risk  776 non-null    float64
 25  Audit_Risk      776 non-null    float64
 26  Risk            776 non-null    int64
dtypes: float64(23), int64(3), object(1)
memory usage: 163.8+ KB

In [9]:
df_audit_risk.columns.tolist()

['Sector_score',
 'LOCATION_ID',
 'PARA_A',
 'Score_A',
 'Risk_A',
 'PARA_B',
 'Score_B',
 'Risk_B',
 'TOTAL',
 'numbers',
 'Score_B.1',
 'Risk_C',
 'Money_Value',
 'Score_MV',
 'Risk_D',
 'District_Loss',
 'PROB',
 'RiSk_E',
 'History',
 'Prob',
 'Risk_F',
 'Score',
 'Inherent_Risk',
 'CONTROL_RISK',
 'Detection_Risk',
 'Audit_Risk',
 'Risk']

In [3]:
df_trial= pd.read_csv('trial.csv')
df_trial.head()

,Sector_score,LOCATION_ID,PARA_A,SCORE_A,PARA_B,SCORE_B,TOTAL,numbers,Marks,Money_Value,MONEY_Marks,District,Loss,LOSS_SCORE,History,History_score,Score,Risk
0,3.89,23,4.18,6,2.50,2,6.68,5.0,2,3.38,2,2,0,2,0,2,2.4,1
1,3.89,6,0.00,2,4.83,2,4.83,5.0,2,0.94,2,2,0,2,0,2,2.0,0
2,3.89,6,0.51,2,0.23,2,0.74,5.0,2,0.00,2,2,0,2,0,2,2.0,0
3,3.89,6,0.00,2,10.80,6,10.80,6.0,6,11.75,6,2,0,2,0,2,4.4,1
4,3.89,6,0.00,2,0.08,2,0.08,5.0,2,0.00,2,2,0,2,0,2,2.0,0

In [7]:
df_trial.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 776 entries, 0 to 775
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sector_score   776 non-null    float64
 1   LOCATION_ID    776 non-null    object
 2   PARA_A         776 non-null    float64
 3   SCORE_A        776 non-null    int64
 4   PARA_B         776 non-null    float64
 5   SCORE_B        776 non-null    int64
 6   TOTAL          776 non-null    float64
 7   numbers        776 non-null    float64
 8   Marks          776 non-null    int64
 9   Money_Value    775 non-null    float64
 10  MONEY_Marks    776 non-null    int64
 11  District       776 non-null    int64
 12  Loss           776 non-null    int64
 13  LOSS_SCORE     776 non-null    int64
 14  History        776 non-null    int64
 15  History_score  776 non-null    int64
 16  Score          776 non-null    float64
 17  Risk           776 non-null    int64
dtypes: float64(7), int64(10), object(1)
memory usage: 109.3+ KB

In [14]:
df_trial.describe().T

,count,mean,std,min,25%,50%,75%,max
Sector_score,776.0,20.184536,24.319017,1.85,2.3700,3.890,55.5700,59.85
PARA_A,776.0,2.450194,5.678870,0.00,0.2100,0.875,2.4800,85.00
SCORE_A,776.0,3.512887,1.740549,2.00,2.0000,2.000,6.0000,6.00
PARA_B,776.0,10.799988,50.083624,0.00,0.0000,0.405,4.1600,1264.63
SCORE_B,776.0,3.131443,1.698042,2.00,2.0000,2.000,4.0000,6.00
TOTAL,776.0,13.218481,51.312829,0.00,0.5375,1.370,7.7075,1268.91
numbers,776.0,5.067655,0.264449,5.00,5.0000,5.000,5.0000,9.00
Marks,776.0,2.237113,0.803517,2.00,2.0000,2.000,2.0000,6.00
Money_Value,775.0,14.137631,66.606519,0.00,0.0000,0.090,5.5950,935.03
MONEY_Marks,776.0,2.909794,1.597452,2.00,2.0000,2.000,4.0000,6.00
District,776.0,2.505155,1.228678,2.00,2.0000,2.000,2.0000,6.00
Loss,776.0,0.029639,0.184280,0.00,0.0000,0.000,0.0000,2.00
LOSS_SCORE,776.0,2.061856,0.375080,2.00,2.0000,2.000,2.0000,6.00
History,776.0,0.104381,0.531031,0.00,0.0000,0.000,0.0000,9.00
History_score,776.0,2.167526,0.679869,2.00,2.0000,2.000,2.0000,6.00
Score,776.0,2.702577,0.858923,2.00,2.0000,2.400,3.2500,5.20
Risk,776.0,0.626289,0.484100,0.00,0.0000,1.000,1.0000,1.00

In [10]:
df_trial.columns.tolist()

['Sector_score',
 'LOCATION_ID',
 'PARA_A',
 'SCORE_A',
 'PARA_B',
 'SCORE_B',
 'TOTAL',
 'numbers',
 'Marks',
 'Money_Value',
 'MONEY_Marks',
 'District',
 'Loss',
 'LOSS_SCORE',
 'History',
 'History_score',
 'Score',
 'Risk']

## Part 1: Build a classifier based on KNN (K=3 for testing) using Euclidean distance.

You are expected to code the KNN classifier (including the distance function).

Report performance using an appropriate k-fold cross validation using confusion matrices on the given dataset.

Report the run time performance of your above tests.

In [4]:
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier